APP_DEBUG=true
APP_NAME=sakoo
APP_PORT=80
APP_PORT_SECURE=443

DOCKER_IMAGE=sakoo.app:1.0.0

MYSQL_USER=sakoo
MYSQL_PASSWORD=passwordhere
MYSQL_ROOT_PASSWORD=passwordhere
MYSQL_DATABASE=sakoo_test
MYSQL_PORT=3306

SERVER_TIME_ZONE=UTC

PWD=.

MODEL_PROVIDER=
EMBEDDING_MODEL_PROVIDER=

GAPGPT_API_KEY=
GAPGPT_MODEL=
GAPGPT_EMBEDDING_API_KEY=
GAPGPT_EMBEDDING_MODEL=

CLAUDE_API_KEY=
CLAUDE_MODEL=

OLLAMA_MODEL=
OLLAMA_EMBEDDING_MODEL=
